<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a nuestra plataforma {{companyName}}</title>
</head>

<body>
    <table style="width: 650px; font-family: Arial; font-size: 16px; line-height: 29px;" align="center" cellspacing="0"
        cellpadding="0">
        <thead>
            <tr>
                <td colspan="2">
                    <img src="{{imageHeader}}" alt="LOGO"
                        style="display: block; margin-inline: auto; width: 100%; max-width: 100%">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom: solid 3px #233d90;">
                    &nbsp;
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <div style="padding: 1.5rem 0;">
                        <p>
                            Hola <b style="color: #009fd7;">{{fullName}}</b>,
                        </p>
                        <p>Tu cuenta ha sido creada exitosamente. A continuación encontrarás los detalles de tu
                            registro:
                        </p>
                        <ul>
                            <li><strong>Usuario:</strong>
                                {{username}}
                            </li>
                            {{#if (eq userType 'LOCAL')}}
                            <li><strong>Contraseña temporal:</strong>
                                {{password}}
                            </li>
                            {{/if}}
                        </ul>
                        {{#if (eq userType 'LOCAL')}}
                        <p>Te recomendamos cambiar tu contraseña temporal por una más segura después de iniciar sesión
                            por primera vez.</p>
                        {{/if}}
                        <p>Revisa nuestros <strong><a href="{{terms}}">Términos y condiciones.</a></strong> </p>
                        <p>
                            <a href="{{web}}">Iniciar sesión</a>
                        </p>
                        <p>¡Gracias por unirte a nosotros!</p>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan='2'>
                    <p>
                        Saludos
                        <b style='display: block; color: #233d90'>{{companyName}}</b>
                    </p>
                    <em style='margin-top: 2rem; color: #484848; font-size: .8rem; display: inline-block'>
                        Favor no responder este mail, cualquier inquietud dirigirla a:
                        <a href="mailto:{{mailFooter}}" style='color: #009fd7;'>
                            {{mailFooter}}
                        </a>
                    </em>
                </td>
            </tr>
        </tfoot>
    </table>
</body>

</html>